<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/style-news.css">
    <link rel="stylesheet" href="Css/global.css">
    <link rel="stylesheet" href="Css/header.css">
    <link rel="stylesheet" href="Css/footer.css">
    <title>Artemis</title>
</head>
<body>
    <header>
        <section id="navbar">
            <img src="Imgs/logo.png" alt="LunarWay Logo" id="logo">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/artemis">Artemis</a></li>
                <li><a href="/apollo">Apollo</a></li>
                <li><a href="/gateway">Gateway</a></li>
                <li><a href="/forum">Fórum</a></li>
                <li class="<%= visibilityProfile %>"><a><%- username %></a></li>
            </ul>
            <div id="profile">
                <img src="Icons/icon-user.png" alt="Profile Icon" id="profile-icon" onclick="toggleDropdown()">
                <div id="dropdown" class="hidden">
                    <%- textProfile %>
                </div>
            </div>
        </section>
    </header>
    
    <main class="fundoastronauta">
        <img src="Imgs/2166.jpg" alt="Astronauta" class="imgastronaut">
        <div class="overlay-text">
            <h1 class="subtitle">EXPLORAÇÃO LUNAR</h1>
            <h2 class="title">PROGRAMA<br>ARTEMIS</h2>
        </div>
    </main>

    <section class="info-section">
        <div class="container">
            <p>Desde o início de sua existência o ser humano sonha em pisar na Lua. Quando tal feito foi realizado em 20 de julho de 1969, com o sucesso do Programa <em>Apollo</em>, a meta foi estendida para outros planetas. Com o passar do tempo, Marte se tornou o objetivo mais viável, devido à descoberta de que em Marte existem áreas com água em forma de gelo, proximidade da Terra e distância similar à da Terra em relação ao Sol. Com isso, foi criado o Programa <em>Artemis</em>, que tem como meta uma habitação lunar com objetivo de facilitar a ida de seres humanos à Marte. Este artigo busca explicar esse programa, mostrando seus objetivos, desafios entre outras questões relacionadas.</p>
            <ul>
                <li><p>Artemis I, que teve como sua primeira missão lançamento da nave Orion ○
                    em novembro de 2022.Com capacidade para transportar até quatro
                    tripulantes no foguete Space Launch System(SLS).
                    esta foi uma missão
                    que levou a espaçonave - nesse caso sem tripulantes - para a órbita lunar e
                    retornou em segurança para a Terra.Com duração de 25 dias, essa missão
                    foi concluída com sucesso.</p></li>
                    <li><p>Artemis será segunda missão do programa e está prevista para
                    setembro de 2026. Seu objetivo será transportar quatro astronautas para um
                    sobrevoo na Lua, numa volta completa ao redor do satélite com duração de
                    10 dias.</p></li>
                    <li><p>Artemis III está prevista também para setembro do mesmo ano, e seu
                    principal objetivo, desde a Apollo 17, e atracar com quatro astronautas a
                    bordo da Orion na Lunar Gateway, estação espacial esta que se encontra em
                    órbita lunar. Permanecendo no espaço por 30 dias, os tripulantes a bordo
                    deste módulo seguirão em missão ao polo sul lunar para realização de
                    experimentos.</p></li>
                    <li><p>A missão Artemis IV que está prevista para setembro de 2028, levará à Lunar
                    Gateway o módulo de habitação internacional que foi concebido pela ESA e a
                    agência espacial japonesa.</p></li>
                    <li><p>Artemis V (2029) visa carregar consigo um braço robótico juntamente com
                    módulo de reabastecimento e comunicação para o mesmo destino, onde O
                    Artemis VI prevista para 2030 levará módulos de logística para preparação de
                    novas missões.</p></li>
                    <li><p>Ainda, Artemis VII, também em 2030, pretende transportar um posto
                    avançado chamado de Lunar Surface Asset para a superficie da Lua, onde Artemis VII fará uma missão tripulada para utilização deste posto avançado na superfície lunar.</p></li>
            </ul>
            
            <div class="image-container">
                <img src="Imgs/apollo.jpg" alt="Apollo 11" class="apollo-image">
            </div>
        </div>
    </section>

    <section class="news-carousel-section">
        <h2>Últimas Notícias</h2>
        <div class="carousel-container">
            <button class="carousel-button prev">&#10094;</button>
            <div class="carousel">
                <div class="carousel-item" id="news-artemis1">
                    <img src="Imgs/artemis1.jpg" alt="Notícia 1">
                    <div class="news-info">
                        <h3>Perda de carbono do escudo térmico da Artemis I Orion</h3>
                    </div>
                </div>
                <div class="carousel-item" id="news-artemis2">
                    <img src="Imgs/artemis2.jpg" alt="Notícia 2">
                    <div class="news-info">
                        <h3>Integração vertical do estágio central do Artemis II começa na NASA Kennedy</h3>
                    </div>
                </div>
                <div class="carousel-item" id="news-artemis3">
                    <img src="Imgs/rocket.webp" alt="Notícia 3">
                    <div class="news-info">
                        <h3>Missão Artemis II</h3>
                    </div>
                </div>
            </div>
            <button class="carousel-button next">&#10095;</button>
        </div>
    </section>

    <footer id="footer">
        <div>
            <img src="Icons/icon-ifc.png" alt="Logo IFC" id="logo-ifc">
            <img src="Icons/icon-email.png" alt="Icone Email" id="icon-email">
            <p>lunarwaysite@gmail.com</p>
            <a href="Documents/Artigo.pdf" id="artigo" download>Nosso Artigo</a>
            <a href="#" id="back-to-top">
                <img src="Icons/icon-up-arrow.png" alt="Icone voltar início" id="icon-up-arrow">
            </a>
        </div>
    </footer>

    <script src="Js/effects.js"></script>
</body>
</html>
