<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/style-news.css">
    <link rel="stylesheet" href="Css/global.css">
    <link rel="stylesheet" href="Css/header.css">
    <link rel="stylesheet" href="Css/footer.css">
    <title>Notícias</title>
</head>
<body>
    <header>
        <section id="navbar">
            <img src="Imgs/logo.png" alt="LunarWay Logo" id="logo">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/artemis">Artemis</a></li>
                <li><a href="/forum">Fórum</a></li>
                <li class="<%= visibilityProfile %>"><a><%- username %></a></li>
            </ul>
            <div id="profile">
                <img src="Icons/icon-user.png" alt="Profile Icon" id="profile-icon" onclick="toggleDropdown()">
                <div id="dropdown" class="hidden">
                    <%- textProfile %>
                </div>
            </div>
        </section>
    </header>

<section class="second-hero">
    <img src="Imgs/gateway.png" alt="Gateway" class="hero-image">
    <div class="overlay-text-right">
        <h1 class="subtitle">EXPLORAÇÃO LUNAR</h1>
        <h2 class="title">LUNAR GATEWAY<br>2028</h2>
    </div>
</section>
<section class="info-section">
    <div class="container">
        <p>O Gateway está previsto para ser lançado em 2028 à órbita lunar com o Elemento de Energia e Propulsão, fornecido pela Maxar Space Systems, e posteriormente será expandido com os módulos Lunar I-Hab e Lunar View da ESA, 
            a Crew and Science Airlock fornecida pelo Centro Espacial Mohammed Bin Rashid, robótica externa avançada fornecida pela CSA (Agência Espacial Canadense) e hardware crítico da JAXA (Agência Japonesa de Exploração Aeroespacial).</p>

        <p>Equipes da NASA, ESA (Agência Espacial Europeia) e Thales Alenia Space, incluindo os astronautas Stan Love e Luca Parmitano, se reuniram em Turim, Itália, neste verão para um teste do Gateway , a primeira estação espacial da humanidade a orbitar a Lua.</p>

        <div class="image-container">
            <img src="Imgs/gatewaysymbol.png" alt="Gatewayimg" class="gatewaysymbol-image">
        </div>
        <div>
            <p>
                O grupo conduziu o que é conhecido como teste de fatores humanos dentro de uma maquete do Lunar I-Hab , um dos quatro módulos Gateway onde os astronautas viverão, conduzirão ciência e se prepararão para missões na região do Polo Sul da Lua. O teste é um passo importante no caminho para o lançamento, ajudando a refinar o design da espaçonave para conforto e segurança.
            </p>
            <p>
                O Lunar I-Hab é fornecido pela ESA e Thales Alenia Space e está programado para ser lançado na Artemis IV . Durante essa missão, quatro astronautas serão lançados dentro da espaçonave Orion no topo de uma versão atualizada do foguete SLS (Space Launch System) e entregarão o Lunar I-Hab ao Gateway em órbita ao redor da Lua.
    Equipes internacionais de astronautas explorarão os mistérios científicos do espaço profundo com a Gateway como parte da campanha Artemis para retornar à Lua para descobertas científicas e traçar um caminho para as primeiras missões humanas a Marte e além.

            </p>
        </div>
        </section>
        
    <section class="news-carousel-section">
        <h2>Últimas Notícias</h2>
        <div class="carousel-container">
            <button class="carousel-button prev">&#10094;</button>
            <div class="carousel">
                <div class="carousel-item" id="news-gateway1">
                    <img src="Imgs/Lunar_Orbital_Platform-Gateway.jpg" alt="Notícia 1">
                    <div class="news-info">
                        <h3>Lançamento do Lunar Gateway</h3>
                    </div>
                </div>
                <div class="carousel-item" id="news-gateway2">
                    <img src="Imgs/halo.jpg" alt="Notícia 2" id="img-lunar-gateway2">
                    <div class="news-info">
                        <h3>Gateway: Conectado ao Espaço Profundo</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Imgs/imgnew3.jpg" alt="Notícia 3">
                    <div class="news-info">
                        <h3>Título da Notícia 3</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="Imgs/imgnew1.jpg" alt="Notícia 4">
                    <div class="news-info">
                        <h3>Título da Notícia 4</h3>
                        <p>Breve descrição da notícia que aparecerá no card...</p>
                    </div>
                </div>
            </div>
            <button class="carousel-button next">&#10095;</button>
        </div>
    </section>

    <footer id="footer">
        <div>
            <img src="Icons/icon-ifc.png" alt="Logo IFC" id="logo-ifc">
            <img src="Icons/icon-email.png" alt="Icone Email" id="icon-email">
            <p>lunarwaysite@gmail.com</p>
            <a href="PI_2024___Grupo_1.pdf" id="artigo" download>Nosso Artigo</a>
            <a href="#" id="back-to-top">
                <img src="Icons/icon-up-arrow.png" alt="Icone voltar início" id="icon-up-arrow">
            </a>
        </div>
    </footer>

    <script src="Js/effects.js"></script>
</body>
</html>
