<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login realizado com seucesso!</title>
    <link rel="stylesheet" href="Css/style-successful.css">
</head>
<body>
    <div>
        <h1>Seja Bem-Vindo de volta <%= username %>!</h1>
        <a href="/">Voltar à página inicial.</a>
    </div>
</body>
</html>