footer.topic-info p {
    display: inline;
    margin-right: 2%;
}

#footer {
    border-top: 1px solid var(--cinza);
    position: relative;
    background-color: black;
}

#footer div {
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    left: 20%;
    padding: 15px 0;
}

#footer div > * {
    margin-right: 10%;
}

#footer img {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

#footer img#logo-ifc {
    width: 6%;
}

#footer button#artigo {
    color: black;
    background-color: var(--cinza-claro);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
}

#footer img#icon-up-arrow {
    width: 40px;  /* Tamanho fixo em pixels */
    height: 40px; /* Mantém proporção quadrada */
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    transition: opacity 0.3s;
}

#back-to-top {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 10%;
}

#back-to-top:hover img {
    opacity: 0.8;
}

#footer p {
    color: white; /* Adicionado para garantir que o texto seja visível no fundo preto */
}

#footer img#icon-email {
    width: 3%; /* Ajuste conforme necessário */
}
