footer.topic-info p {
    display: inline;
    margin-right: 2%;
}

footer#footer {
    border-top: 1px solid var(--cinza);
    position: relative;
}

footer#footer div {
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    left: 20%;
}

footer#footer div * {
    margin-right: 10%;
}

footer#footer img {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

footer#footer img#logo-ifc {
    width: 6%;
}

footer#footer button#artigo {
    color: black;
    background-color: var(--cinza-claro);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
}

footer#footer img#icon-up-arrow {
    width: 5%;
    border: 1px solid white;
    border-radius: 50px;
}

footer#footer p {
    color: white; /* Adicionado para garantir que o texto seja visível no fundo preto */
}

footer#footer img#icon-email {
    width: 3%; /* Ajuste conforme necessário */
}