<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="Css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <header>
        <section id="navbar">
            <img src="Imgs/logo.png" alt="LunarWay Logo" id="logo">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/news">Notícias</a></li>
                <li><a href="/forum">Fórum</a></li>
            </ul>
            <div id="profile">
                <img src="Icons/icon-user.png" alt="Profile Icon" id="profile-icon" onclick="toggleDropdown()">
                <div id="dropdown" class="hidden">
                    <a href="/login?mode=register">CADASTRAR</a>
                    <a href="/login?mode=login">LOGIN</a>
                </div>
            </div>
        </section>
    </header>
    <div class="container">
      <div class="card" id="login">
        <h1>Entrar</h1>

        <div id="msgError"></div>

        <div class="label-float">
          <input type="text" id="user" paceholder="" required />
          <label id="userLabel" for="user">Usuario</label>
        </div>

        <div class="label-float">
          <input type="password" id="password-login" paceholder="" required />
          <label id="senhaLabel" for="password-login">Senha</label>
          <i class="fa fa-eye" aria-hidden="true" id="see-password-login"></i>
        </div>

        <div class="justify-center">
          <button onclick="entrar()">Entrar</button>
        </div>
      </div>
      <div class="card" id="register">
        <h1>Cadastrar</h1>

        <div id="msgError"></div>
        <div id="msgSuccess"></div>

        <div class="label-float">
          <input type="text" id="nickname" placeholder=" " required />
          <label id="labelNome" for="nickname">Nome</label>
        </div>

        <div class="label-float">
          <input type="text" id="user" placeholder=" " required />
          <label id="labelUsuario" for="user">Usuário</label>
        </div>

        <div class="label-float">
          <input type="password" id="password-register" placeholder=" " required />
          <label id="labelSenha" for="password-register">Senha</label>
          <i class="fa fa-eye" aria-hidden="true" id="see-password-register"></i>
        </div>

        <div class="label-float">
          <input type="password" id="confirm-password" placeholder=" " required />
          <label id="labelConfirmSenha" for="confirm-password"
            >Confirmar Senha</label
          >
          <i id="see-confirm-password" class="fa fa-eye" aria-hidden="true"></i>
        </div>

        <div class="justify-center">
          <button onclick="cadastrar()">Cadastrar</button>
        </div>
      </div>
      <div class="card <%= mode %>" id="greetings-container">
        <div id="greetings">
          <h1><%= text[0]%></h1>
          <p><%= text[1]%></p>
          <button id="change-mode"><%= text[2]%></button>
        </div>
      </div>
    </div>
    <script src="Js/effects.js"></script>
  </body>
</html>
