<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gateway: Conectado ao Espaço Profundo</title>
    <link rel="stylesheet" href="/Css/style-news.css">
    <link rel="stylesheet" href="/Css/global.css">
    <link rel="stylesheet" href="/Css/header.css">
    <link rel="stylesheet" href="/Css/footer.css">
</head>
<body>
    <header>
        <section id="navbar">
            <img src="/Imgs/logo.png" alt="LunarWay Logo" id="logo">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/artemis">Artemis</a></li>
                <li><a href="/apollo">Apollo</a></li>
                <li><a href="/gateway">Gateway</a></li>
                <li><a href="/forum">Fórum</a></li>
                <li class="<%= visibilityProfile %>"><a><%- username %></a></li>
            </ul>
            <div id="profile">
                <img src="/Icons/icon-user.png" alt="Profile Icon" id="profile-icon" onclick="toggleDropdown()">
                <div id="dropdown" class="hidden">
                    <%- textProfile %>
                </div>
            </div>
        </section>
    </header>

    <section id="section-news">
        <h1>Gateway: Conectado ao Espaço Profundo</h1>
        <br>
        <p>Um labirinto de cabos e sensores serpenteia por uma parte importante do Gateway,
        a primeira estação espacial da humanidade ao redor da Lua,
        durante uma fase de testes importantes no início deste ano para garantir que o laboratório científico em órbita lunar possa suportar as condições adversas do espaço profundo.</p>
        <br>
        <p>HALO (Habitation and Logistics Outpost) é um dos quatro módulos Gateway onde equipes internacionais de
        astronautas viverão, conduzirão ciência e se prepararão para missões na região do Polo Sul lunar.
        Outros elementos serão fornecidos pela Agência Espacial Europeia,
        Agência Japonesa de Exploração Aeroespacial e o Centro Espacial Mohammed Bin Rashid dos Emirados Árabes Unidos.
        A Agência Espacial Canadense está fornecendo o sistema de robótica avançada Canadarm3 da Gateway.</p>
        <br>
        <p>O HALO é fornecido pela Northrop Grumman e sua subcontratada, Thales Alenia Space.
        O módulo concluiu os testes em Turim, Itália, antes de sua chegada prevista aos Estados Unidos em 2025.
        A Northrop Grumman concluirá o equipamento final do HALO e o integrará ao
        Power and Propulsion Element da Gateway para lançamento antes da missão Artemis IV em um foguete SpaceX Falcon Heavy.</p>
    </section>

    <div id="overlay" class="hidden" onclick="toggleDropdown()"></div>
    </main>

    <footer id="footer">
        <div>
            <img src="/Icons/icon-ifc.png" alt="Logo IFC" id="logo-ifc">
            <img src="/Icons/icon-email.png" alt="Icone Email" id="icon-email">
            <p>lunarwaysite@gmail.com</p>
            <a href="PI_2024___Grupo_1.pdf" id="artigo" download>Nosso Artigo</a>
            <a href="#" id="back-to-top">
                <img src="/Icons/icon-up-arrow.png" alt="Icone voltar início" id="icon-up-arrow">
            </a>
        </div>
    </footer>

    <script src="/Js/effects.js"></script>
    <script>
        document.getElementById('back-to-top').addEventListener('click', function(e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>
</body>
</html>